<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

</body>
</html><!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>save</title>
</head>
<body>
<form action="/search-offline/save" method="post">
    ID: <input type="text" name="userEmail"> <br>
    Password: <input type="text" name="userPassword"> <br>
    닉네임: <input type="text" name="userName"> <br>
    <input type="submit" value="회원가입">
</form>
</body>
</html>